
*{
    margin: 0;
    padding: 0;
 
    
    background-color:#2D2E32;
}
html{
scroll-behavior: smooth;
}

.topnav {
  font-family: 'Architects Daughter', cursive;
    background-color:#2D2E32;
    overflow: hidden;
    display:flex;
    flex-direction:row;
    padding: 20px;
    justify-content: center;
  }
  

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #FC554E;
    color:black;
  }
  

  .topnav a:focus {
    color: #6FF3A5;
  }

  
.front-page{
  display: flex;
 flex-direction: row;
 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

  .introduction{
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
   
   
    
  }
  .intro{
   
     font-family: 'ZCOOL KuaiLe', cursive;
    color: #6FF3A5;
    font-size:50px;
    background-color: transparent;
  }
  .quote{
    font-family: 'Baloo Tammudu 2', cursive;
    color: #fff;
    font-size:30px;
    margin-top: 20px;
    background-color: transparent;
  }
  .me{
    padding:10px;
  }
  .me,strong{
  
  
    border-radius: 30px;
    color: #212122;
    font-family: 'Architects Daughter', cursive;
    background-color: white;
  } 
  .front-page img{
    padding: auto;
    border-radius:40px 40px 40px 40px;
    height: 50vh;
  }

  @media only screen and (max-width:700px) {
    .front-page img{
      margin-top:10%;
    }
    .skills{
     
      flex-direction: row;
    }
  }

 

.skills{
 margin-top: 50px;
  background-color:#545559;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.skills div{
  color: #6FF3A5;
  font-family: 'Architects Daughter 2', cursive;
  background-color:#2D2E32;
  justify-content:space-between;
}
.skills p{
  
  font-family: 'Baloo Tammudu', cursive;
  color: white;
  background-color:#2D2E32;
  width: 100%;
  margin-top:20px;
 
}
.skills >.card{
  display: flex;
  justify-content: justify;
  width:400px;


padding: 10px;
  margin:10px;
}


.myskills{
  margin-top:20px;
  padding:10px;
  background-color:#2D2E32;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.skills-text{
  font-family: 'ZCOOL KuaiLe', cursive;
  color: #6FF3A5;
 text-align: center;

}
.myskillsflex{
  display: flex;;
  flex-direction: row;
  justify-content:space-evenly;
  margin-top:20px;
 margin-bottom:10px;
  width:100%;
}
.icons{
  color: #6FF3A5;
  font-size:2rem;

}

.projects{
  background-color:#545559;

}

.project-items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color:#545559;
  
}
.project-card{
  font-family: 'Baloo Tammudu 2', cursive;
  
 margin: 10px;

 width: 500px;
 border: #fff 1px solid;

}
.content{
  text-align: center;
  margin-bottom: 10px;
  background-color: transparent;
  
}

  
.content div{
  padding-top: 10px;
  color: #6FF3A5;
 
  font-weight: bolder;
}
.content p{
  padding-top: 5px;
  background-color: transparent;
  text-align: justify;

  color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
}

.footer{
  padding: 10px;
  padding-bottom: 20px;
}
.social-media{
  display: flex;
  justify-content: space-around;

}
.copy-right{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  color: #f2f2f2;
}
.icons:hover{
  color: #fff;
  transform: scale(1.5); 
}